html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: $font-family;
  line-height: 1.65;
  font-size: $base-font-size / 16 * 100%;
  font-weight: $base-font-weight;
  -webkit-font-smoothing: antialiased;
}

// copy and lists
p {
  line-height: $leading;
  margin-top: $leading;
  margin-bottom: 0;
}

h2 + p, h3 + p, h4 + p {
  margin-top: $leading/4;
}

ul, ol {
  margin-top: $leading;
  margin-bottom: $leading;
}

ul li, ol li {
  line-height: $leading;
}

ul ul, ol ol  {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: $spacing-unit;
  margin-right: 0;
}

blockquote {
  margin-top: $leading;
  margin-bottom: $leading;
}

blockquote p {
  font-size: 27px;
  line-height: 33px;
}

// heading
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin-top: $leading;
  margin-bottom: 0;
  line-height: $leading;
  font-weight: $bold-font-weight;
  color: $gray-dark;
}

h1 {
  font-size: 2 * $scale * 1rem;
  line-height: 2 * $leading;
  margin-top: 2 * $leading;
}

h2 {
  font-size: 1.5 * $scale * 1rem;
  line-height: 1.5 * $leading;
  margin-top: 1 * $leading;
}

h3 {
  font-size: 1.13 * $scale * 1rem;
}

h4 {
  font-size: $scale / 2 * 1rem;
}

h5 {
  font-size: 1.5rem;
}


// links
a {
  color: $brand-primary;
  text-decoration: none;
  transition: color 0.25 ease-in-out;
}

a:hover {
  color: darken($brand-primary, 15%);
}

// images and figures
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

pre, figure {
  margin-left: $spacing-unit;
  margin-right: 0;
  margin-top: $leading;
  margin-bottom: $leading;
  padding: 0;
}

figure > img {
  display: block;
}

figcaption {
  margin-top: 0.5rem;
  text-align: center;
}

// other
// code {
//   background-color: $gray-light;
//   padding: 2px 4px;
//   vertical-align: bottom;
//   font-size: $scale * 0.85rem;
// }
/**
 * Code formatting
 */

pre, code {
    font-size: 15px;
    border: 1px solid $gray-light;
    border-radius: 3px;
    background-color: $white;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

// /**
//  * Wrapper
//  */
// .wrapper {
//     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//     max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
//     margin-right: auto;
//     margin-left: auto;
//     padding-right: $spacing-unit;
//     padding-left: $spacing-unit;
//     @extend %clearfix;
//
//     @include media-query($on-laptop) {
//         max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//         max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
//
// /**
//  * Clearfix
//  */
// %clearfix {
//
//     &:after {
//         content: "";
//         display: table;
//         clear: both;
//     }
// }
